.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}


.background {
  padding: 40px;
}

#navbar-title {
  font-family: Lobster;
}

.navbar {
  font-family: Lobster;
  background-color: white;
  color: #5C5378;
  text-align: center;
}
